<h1>This is a new Shoos order!</h1>
<p>
  <b><%= @shoo.pretty_name %></b> has ordered:</p><br>
<p>
<b><%= @shoo.pretty_name %></b> loves <%= @shoo.style %> shoes and...
</p><br>
<p>
...has ordered <%= @shoo.quantity %> shoes today!
</p>
