<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <title>Shoos</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/shoos/new">New Order</a></li>
        <li><a href="/shoos/orders">All Orders</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
