body {
  background-color: #d0c91f;
  text-align: center;
}
body p{
  color: 	#008bba;
  font-size: 2em;
  font-family: fantasy;
  /*background-color: #292a2a;*/
  text-decoration: underline;

}
h1 {
  color: 		#df514c;
  font-family: cursive;
  font-size:5em;
  background-color:		#85c4b9;
  text-decoration: underline;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border: 20px dotted #008bba;
  padding: 10px;
  border-radius: 8px

}

b {
  color: 	#dc403b;
  font-size: 2em;
  font-family: cursive;
}

li a {
  /*margin: 30px;
  border-style: double;
  border-radius: 20%;
  border-color: 	#008bba;*/
  text-decoration: none;
  color: #85c4b9;
}
li a:hover {
  color: 	#dc403b;

}
nav ul li {
  font-family:sans-serif;
  display: inline;
  font-size:2em;
  text-align: center;
  border-style: double;
  border-radius: 20px;
  border-color: 	#008bba;
  border-width: thick;
  padding: 10px;
  margin: 30px;
  /*text-decoration: none;
  color: #85c4b9;*/
}

.new form {
    color: 	#dc403b;
  font-size: 1.5em;
  font-family: cursive;
  display: inline-block;

}

input {
  float: right;

}

.index {

  background-color: #292a2a;
  display: inline-block;
  width: 40%;
  border-radius: 20px;

}


div p:hover {
  color: #f1554d;

}
